* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2e2e2e;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	color: #ebebeb;
}

#overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	color: white;
}

#confirmation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 35px;
	background-color: #ebebeb;
	color: #2e2e2e;
	border-radius: 4px;
}

#btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#result {
	margin-top: 10px;
}

button {
	margin: 20px 10px 0 10px;
	padding: 5px 20px;
	cursor: pointer;
}
